
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FqIndex</title>
</head>
<body>
    <div class="relative pt-rank" style="background-color:#F5F5F5;margin:0 auto;width:1000px;height:900px;align-self:auto" ;>
        <h2>隐私条款</h2>
        <div class="div1">
            <span>时间：2021年1月2日</span>
        </div>
        <div class="div2">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;除法律或有法律赋予权限的政府部门要求或用户同意等原因外，作文网未经用户同意不向除合作单位以外的第三方公开、 透露用户个人信息。 但是用户在注册时选择或同意，或用户与作文网及合作单位之间就用户个人信息公开或使用另有约定的除外，同时用户应自行承担因此可能产生的任何风险，作文网对此不予负责。同时为了运营和改善作文网的技术和服务，我们将可能会使用或向第三方提供用户的非个人身份信息，这将有助于向用户提供更好的用户体验和提高我们的服务质量。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;cookies等技术的使用，本服可能会使用cookies，以便您能登录并使用我们的服务，并允许设定您特定的服务选项。运用cookies技术，我们能够为您提供更加周到的个性化服务。通过使用cookies所收集的任何内容均以集合的、匿名的方式进行。您可以选择接受或拒绝 cookies。您可以通过修改浏览器设置的方式拒绝cookies。如果您选择拒绝cookies，则您可能无法登录或使用依赖于cookies 的服务或功能。</p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;本服务需要用户共同享用、维护其所提供的利益，用户在此确认同意本服务在必要时使用您计算机的处理器和带宽等资源，用作容许其它本"软件"使用者与您通讯联络、分享本服务的有限目的。此项同意可能会影响用户的使用感受和带来不可预知的风险。您应认真考虑并做出选择，承担风险。用户同意本"软件"将会尽其合理努力以保护您的计算机资源及计算机通讯的隐私性和完整性，但是，您承认和同意作文网不能就此事提供任何保证。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;保有您的使用记录，当您使用搜索的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访问日期和时间等。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;在如下情况下，会遵照您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：
            </p>
            <p>
                （1）事先获得您的授权；
            </p>
            <p>
                （2）只有透露你的个人资料，才能提供你所要求的产品和服务；
            </p>
            <p>
                （3）根据有关的法律法规和按照相关政府主管部门的要求；
            </p>
            <p>
                （4）我们发现您违反了作文网公司服务条款或任何其他产品服务的使用规定。
            </p>
        </div>
    </div>
    第一条本合同的标的物为，分期付款总额定为人民币元整。乙方可以依照下列规定支付款项予甲方：1、前款元；2、余款元；3、月息元。第二条乙方预付元予甲方，余款自年月日至年月日止付清，每月日前各支付元。第三条乙方可以就上述条件提供担保，于本合同成立时，以前条所载的金额与日期，开出支票一张交付甲方。上述支票的保管处理权限属甲方，每次交付支票，即视为乙方偿还货款。第四条甲方于本合同订立的同时，将产品交付乙方，并同意乙方对该产品的使用。第五条乙方若未能支付第二条所列分期付款金额及其他应付的各项费用，须自支付日始以日息分支付甲方作为延迟损失金。第六条乙方须以正当的方式使用产品，若有违反，甲方可立即解除本合同。第七条乙方连续两次未支付价款，并且未支付到期价款的金额达到全部价款的五分之一的，甲方可以请求乙方支付到期以及未到期的全部价款或者解除合同。甲方解除合同的，可以向乙方请求支付该标的物的使用费。出卖人（甲方）：买受人（乙方）：。
    法律依据
    中华人民共和国合同法第一百六十七条
</body>
</html>
<style>
    h2 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .div1 {
        text-align: right;
        width: 100%;
    }

    .div2 {
        float: left;
        padding-right: 60px;
        margin-left: 35px;
        line-height: 1.8;
    }

        .div2 p {
            padding-right: 60px;
            margin-left: 35px;
            line-height: 1.8;
        }
</style>