
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script>
    $(function () {
        $("#show").click(function () {
            pageindex = 1;
            ShowInfo();
        })

        layui.use('form', function () {
            form = layui.form;
            var layData = ['form', 'laydate'];
            layui.use(layData, function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#stime'
                });
                laydate.render({
                    elem: '#etime'
                });
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });

        });
        ShowPP();
        ShowCXInfo();
        ShowCardTypeInfos();
        ShowCardsInfo();
    })
    function ShowCX(id) {
        $.ajax({
            url: "http://localhost:11267/api/JcyCards/CarSeriesList",
            data: { id: id },
            dataType: "json",
            Type: "get",
            success: function (data) {
                console.log(data);
                $("#cx").empty();
                for (var i = 0; i < data.length; i++) {
                    var htmls =
                        "<li class='layui-nav-item'>" +
                        "<a href='#' style='color:black'>" + data[i].carserName + "</a></li>";
                    $("#cx").append(htmls);
                }
            }
        })
    }
    function ShowCXInfo() {
        $.ajax({
            url: "http://localhost:11267/api/JcyCards/GetCards",
            dataType: "json",
            type: "get",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var htmls =
                        "<li class='layui-nav-item'>" +
                        "<a href='#' style='color:black'>" + data[i].carserName + "</a></li>";
                    $("#cx").append(htmls);
                }
            }
        })
    }
    function ShowPP() {
        $.ajax({
            url: "http://localhost:11267/api/JcyCards/BrandsList",
            dataType: "json",
            Type: "get",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var htmls =
                        "<li class='layui-nav-item'>" +
                        "<a href='#' style='color:black' onclick='ShowCX(" + data[i].brandId + ")'>" + data[i].brandName + "</a></li>";
                    $("#pp").append(htmls);
                }
            }
        })
    }
    function ShowCardTypeInfos() {
        $.ajax({
            url: "http://localhost:11267/api/JcyCards/GetCarSeries",
            dataType: "json",
            type: "get",
            success: function (data) {
                for (var i = 0; i < 12; i++) {
                    var cxinfo =
                        "<li class='layui-nav-item' > " +
                        "<a href='#' style='color:black' onclick='CXShowInfo(" + data[i].brandId + ")'>" + data[i].carserName + "</a></li>";
                    $("#cx").append(cxinfo);
                }
            }
        })
    }
    function ShowCardsInfo() {
        $.ajax({
            url: "http://localhost:11267/api/JcyCards/CardInfoCofigList",
            dataType: "json",
            type: "get",
            data: { agecard: 0, bsx: 0, cx: 0, kms: 0, pl: 0, pfbz: 0, zws: 0, rylx: 0, color: 0, cardszd: 0, qdlx: 0, countryb: 0, lightCoig: 0 },
            success: function (data) {
                $(data).each(function (data) {
                    console.log(data);
                    var card =
                        "<div style='width: 310px; height: 307px; float: left; margin - left: 5px; margin - top: 5px;'>" +
                        "<div><img src ='" + this.photoCar + "' style='width:300px;height:220px;'/></div>" +
                        "<div>" + this.cardName + "</div>" +
                        "<div>" + this.yearAge + "年|" + this.kmNum + "万公里|" + this.cardHelp + "</div>" +
                        "<div>" + this.price + "万" + "</div>" +
                        "</div>";
                    $(".car").append(card); //车辆显示数据
                })
            }
        })
    }
</script>
<div style="margin-left:360px;">
    <div style="width:1200px;height:130px;">
        <img src="~/homePhone/天下二维码.png" />
    </div>
    <div>
        <div></div>
        <div style="margin-left:850px;">
            <input type="text" style="width:280px;height:40px;" name="name" value="" />
            <button type="button" class="layui-btn" style="background-color:white;color:black;height:45px;width:20px;" onclick="ShowIndex()" id="show">
                <i class="layui-icon">&#xe615;</i>
            </button>
        </div>
    </div>
    <div class="layui-table" style="width:100%;height:60px;float:left;">
        <div style="height:60px;float:left;">
            <ul id="pp" class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">品牌</span>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <img src="~/homePhone/不限.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="width:1200px;float:left;">
        <div style="height:60px;float:left;">
            <ul id="cx" class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">车系</span>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <img src="~/homePhone/不限.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <div style="height:60px;float:left;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">价格</span>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <img src="~/homePhone/不限.png" />
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        3万以下
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        3-5万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        5-7万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        7-9万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        9-12万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        12-16万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        16-20万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        20万以上
                    </a>
                </li>
                <li class="layui-btn" style="background-color:#fcfcfc">
                    <input type="text" name="name" value="" style="width:50px;" /><span style="color:black"> - </span>
                    <input type="text" name="name" value="" style="width:50px;" />万
                    <input type="button" name="name" value="确定" />
                </li>
            </ul>
        </div>
    </div>
    <div style="width:1200px;float:left;">
        <div style="float:left;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">价格</span>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:25px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="cl">
                                    <option value="0">车龄</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="bsx">
                                    <option value="0">变速箱</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="cx">
                                    <option value="0">车型</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="lc">
                                    <option value="0">里程</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="pl">
                                    <option value="0">排量</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="pfbz">
                                    <option value="0">排放标准</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="zws">
                                    <option value="0">座位数</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="ry">
                                    <option value="0">燃油类型</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:53px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="colors">
                                    <option value="0">颜色</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="cp">
                                    <option value="0">车牌所在地</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="qdlx">
                                    <option value="0">驱动类型</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="gb">
                                    <option value="0">国别</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="layui-nav-item">
                    <form class="layui-form">
                        <div class="layui-form-item" style="float:left;margin-left:5px;margin-top:10px;">
                            <div style="width:120px">
                                <select lay-filter="aihao" id="ld">
                                    <option value="0">亮点配置</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div style="width:100%;height:57px;">
        <div style="float:left;width:500px;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <a href="" style="color:black;font-size:23px;">
                        全部
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black;font-size:23px;">
                        付三成
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black;font-size:23px;">
                        严选车
                        <img src="~/homePhone/tuij.png" />
                    </a>
                </li>
            </ul>
        </div>
        <div style="float:left;width:700px;height:57px;margin-top:15px;margin-left:330px;">
            <a href="#">默认排序</a>|
            <a href="#">最新发布</a>|
            <a href="#">
                价格
                <img src="~/homePhone/zx.png" />
            </a>|
            <a href="#">
                车龄
                <img src="~/homePhone/zx.png" />
            </a>|
            <a href="#">
                里程
                <img src="~/homePhone/zx.png" />
            </a>
            <select>
                <option value="0">热门筛选</option>
            </select>
        </div>
    </div>
    <div style="width:100%;" class="car">

    </div>
</div>
