
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1></h1>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<div style="margin-left:360px;">
    <div style="width:1200px;height:130px;">
        <img src="~/homePhone/天下二维码.png" />
    </div>
    <div>
        <div></div>
        <div style="margin-left:850px;">
            <input type="text" style="width:280px;height:40px;" name="name" value="" />
        </div>
    </div>
    <div class="layui-table" style="width:100%;height:60px;float:left;">
        <div style="height:60px;float:left;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">品牌</span>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <img src="~/homePhone/不限.png" />
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <div style="height:60px;float:left;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">车系</span>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <img src="~/homePhone/不限.png" />
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <div style="height:60px;float:left;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">价格</span>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        <img src="~/homePhone/不限.png" />
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        3万以下
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        3-5万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        5-7万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        7-9万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        9-12万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        12-16万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        16-20万
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="" style="color:black">
                        20万以上
                    </a>
                </li>
                <li class="layui-btn" style="background-color:#fcfcfc">
                    <input type="text" name="name" value="" style="width:50px;" /><span style="color:black"> - </span>
                    <input type="text" name="name" value="" style="width:50px;" />万
                    <input type="button" name="name" value="确定" />
                </li>
            </ul>
        </div>
    </div>
    <div style="width:100%;float:left;">
        <div style="height:60px;float:left;">
            <ul class="layui-nav" lay-filter="" style="background-color: #fcfcfc;border:solid;border:1px;border-color:black">
                <li class="layui-nav-item">
                    <span style="color:black;background-color:#fcfcfc">更多</span>
                </li>
                <li class="layui-nav-item">
                    <select id="cl">
                        <option value="0">车龄</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="bsx">
                        <option value="0">变速箱</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="cx">
                        <option value="0">车型</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="lc">
                        <option value="0">里程</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="pl">
                        <option value="0">排量</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="pfbz">
                        <option value="0">排放标准</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="zws">
                        <option value="0">座位数</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="ry">
                        <option value="0">燃油类型</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="colors">
                        <option value="0">颜色</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="cp">
                        <option value="0">车牌所在地</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="qdlx">
                        <option value="0">驱动类型</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="gb">
                        <option value="0">国别</option>
                    </select>
                </li>
                <li class="layui-nav-item">
                    <select id="ld">
                        <option value="0">亮点配置</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div style="width:100%;">

    </div>
    <div style="width:100%;height:2000px;">

    </div>
</div>
