
@{
    ViewData["Title"] = "ShowCard";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script>

</script>
<div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

