
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="User Login page" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/assets/css/ace.min.css" rel="stylesheet" />

    <title>登录</title>


    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        video {
            position: fixed;
            right: 0px;
            bottom: 0px;
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
            /*加滤镜*/
            /*filter: blur(15px); //背景模糊设置 */
            /*-webkit-filter: grayscale(100%);*/
            /*filter:grayscale(100%); //背景灰度设置*/
            z-index: -11
        }

        source {
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: 40px;
            color: white;
        }
    </style>
</head>
<body class="login-layout">
    <div>
        <video autoplay loop muted>
            <source src="~/assets/shiping/bc_Trim.mp4" type="video/mp4">
        </video>

    </div>
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">天下</span>
                                <span class="white" id="id-text2">应用管理</span>
                            </h1>
                            <center style="font-size: 80pt; filter: shadow(color=#DA70D6); width: 100%; color: rgba(255, 255, 255, 1); line-height: 150%; font-family: 方正舒体">
                                <span>
                                    <b>天&nbsp;&nbsp;&nbsp;</b><b>下</b>
                                </span>
                            </center>

                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border" style="border:none;background: rgba(66, 66, 66, 0.26);">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger" style="text-align:center;font-size:40px;">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            登录
                                        </h4>

                                        <div class="space-6"></div>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input id="phoneLogin" type="text" class="form-control" placeholder="手机号" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input id="pwdLogin" type="password" class="form-control" placeholder="密码" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl" style="color:#428bca">记住密码</span>
                                                    </label>

                                                    <button onclick="Login1()" type="button" class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>

                                        <div class="social-or-login center">
                                            <span class="bigger-110">第三方登录</span>
                                        </div>

                                        <div class="space-6"></div>

                                        <div class="social-login center">
                                            <a class="btn btn-primary">
                                                <i class="ace-icon fa fa-facebook"></i>
                                            </a>

                                            <a class="btn btn-info">
                                                <i class="ace-icon fa fa-twitter"></i>
                                            </a>

                                            <a class="btn btn-danger">
                                                <i class="ace-icon fa fa-google-plus"></i>
                                            </a>
                                        </div>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar clearfix" style="background:none">
                                        <div>
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                忘记密码
                                            </a>
                                        </div>

                                        <div>
                                            <a href="#" data-target="#signup-box" class="user-signup-link">
                                                注册
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            找回密码
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>
                                            输入您的手机号
                                        </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" maxlength="11" class="form-control" placeholder="手机号" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" maxlength="5" class="form-control" placeholder="验证码" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <div class="clearfix">
                                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">发送验证</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            返回登录
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->

                            <div id="signup-box" class="signup-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            用户注册
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>填写信息: </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="phoneRegister" maxlength="11" class="form-control" ， placeholder="手机号" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="nameRegister" maxlength="20" class="form-control" placeholder="昵称" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="radio" name="sex" value="1" /><span style="color:white">男</span>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <input type="radio" name="sex" value="0" /><span style="color:white">女</span>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="PwdRegister" class="form-control" placeholder="密码" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="pwdQRegister" class="form-control" placeholder="确认密码" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>

                                                <label class="block">
                                                    <input id="JRegister" type="checkbox" name="ddd" value="1" class="ace" />
                                                    <span class="lbl" style="color:white;">
                                                        接受
                                                        <a href="javascript:location.href='/DLH_TX/Privacy'">用户协议</a>
                                                    </span>
                                                </label>

                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">重置</span>
                                                    </button>

                                                    <button onclick="Register()" type="button" class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">注册</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            返回登录
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
   
    

    <script src="~/assets/js/jquery.2.1.1.min.js"></script>

    
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
    
    </script>
    <div style="text-align:center;">
        <p>来源:<a href="" target="_blank" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">天下</a></p>
    </div>
    
</body>
</html>
<script src="~/js/jquery.js"></script>

<script>
    function Login1(phone,value) {
        var phone1 = $("#phoneLogin").val();
        var pwd1 = $("#pwdLogin").val();
        $.ajax({
            url: "http://localhost:11267/api/Total_Auto_DLH/GitUserLogin",
            type: "get",
            data: { UserPhone: phone1, UserPwd: pwd1 },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    
                    document.cookie ="UsarPhone=" + data.userPhone;
                    document.cookie = "UserPwd=" + data.userPwd;
                    document.cookie = "UserName=" + data.userName;
                    location.href = "/Hzx/Index";
                }
                else {
                    alert("登录失败");
                    location.href = "/DLH_TX/Login";
                }
            }
        });
    }

    function Register() {
        
        var u = {};
        u.UserPhone = $("#phoneRegister").val();
        u.UserName = $("#nameRegister").val();

        u.UserAge = $("[name=sex]:checked").val();

        u.UserPwd = $("#PwdRegister").val();

        var UserPhone = $("#phoneRegister").val();

        var UserName = $("#nameRegister").val();

        var UserAge = $("[name=sex]:checked").val();

        var UserPwd = $("#PwdRegister").val();




        var JRegister = $("[name=ddd]:checked").val();
        var PhoneModel = $("#phoneRegister").val();
        
        var pwd2 = $("#pwdQRegister").val();
        var reg = /^[\u4E00-\u9FA5]{2,4}$/;
        var regs = /^[0-9]{6}$/;
        var regiphone = /^(13[0-9]|14[5|7]|15[0|1|2|3|4|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/;

        if (!reg.test(UserName)) {
            alert("姓名只能是字符");
            return;
        }
       
        if (pwd2 != UserPwd) {
            alert("两次密码输入不正确，请检查密码是否正确");
            return false; 
        }
        if (!regiphone.test(PhoneModel)) {
            alert("手机号格式错误");
            return;
        }
        if (JRegister != 1) {
            alert("您未接受用户协议");
            return;
        }

        $.ajax({
            url: "http://localhost:11267/api/Total_Auto_DLH/AddUser",
            type: "post",
            data: u,
            dataType: "json",       
            success: function (d) {
                if (d > 0) {
                    alert("注册成功");
                } else {
                    alert("注册失败");
                }
            }
        });

    }
</script>





